<nav class="nav-header">
    <span class='title'>{{nabBarTitle}}</span>
    <section class="user-dropbox" (click)="dropdown = !dropdown">
        {{user[0].username}}
        <span >&#8595;</span>
    </section>
    <section class="dropdown" [class.active]="dropdown === true">
        <section (click)=logout()>Logout</section>
    </section>
</nav>
<section class="content">
    <section *ngFor="let item of projects;">
        <app-list-card [project]=item (changeProjectName)=updateProjectName($event) 
        (deleteAllProject)=deleteProject($event) (oneAddTask)=oneAddTask($event) (updateNameTask)=updateNameTask($event)
        (deleteTaskFromProject)=deleteTaskFromProject($event) (finishTask)=finishTask($event)></app-list-card>
    </section>
    <app-simple-card cardTitle="Create a new project" [type] = cardTypes.simple (onBtnClicked)=createProject($event)></app-simple-card>
</section>