@import "./../../../styles.scss";

.nav-header{
    width: 100%;
    height: 50px;
    background-color: $nav-bar-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-weight: 600;
    font-size: 32px;

    .title {
        margin-left: 20px;
    }

    .user-dropbox {
        min-width: 150px;
        height: 100%;
        font-size: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        cursor: pointer;

        span{
            margin-left: 10px;
        }
    }

    .dropdown{
        position: absolute;
        width: 150px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 50px;
        background-color: $nav-bar-color;
        font-size: 18px;
        right: -150px;
        opacity: 0;
        transition: all 0.3s 0s ease;
        cursor: pointer;
    }

    .active{
        right: 0px;
        opacity: 1;
    }
}

.content{
    width: 100%;
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;

    section, app-simple-card{
        margin-right: 25px;
        margin-bottom: 25px;
    }
}