/* You can add global styles to this file, and also import other style files */

$border-color: gray;
$back-color: whitesmoke;
$nav-bar-color: gray;
$cardTitle: 20px;

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}