<section *ngIf="type === cardType.login">
    <section class="card">
        <span>{{cardTitle}}</span>
        <input type="text" name="username" id="username" placeholder="Username" [(ngModel)]="username">
        <input type="password" name="password" id="password" placeholder="Password" [(ngModel)]="password">
        <section class="btn-section">
            <button (click)=login()>Login</button>
            <button (click)=registration()>Registration</button>
        </section>
    </section>
</section>
<section *ngIf="type === cardType.simple">
    <section class="card simpleCard">
        <span>{{cardTitle}}</span>
        <input type="text" name="nameProject" id="nameProject" placeholder="Project Name" [(ngModel)]="nameProject">
        <button (click)=newProject()>Create Project</button>
    </section>
</section>