@import "./../../../styles.scss";

.card{
    width: 350px;
    min-height: 200px;
    border-radius: 8px;
    border: 1px solid $border-color;
    background-color: $back-color;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    padding: 0px 50px;

    span {
        margin-top: 10px;
        font-size: $cardTitle;
    }

    input {
        width: 95%;
        height: 25px;
        margin-top: 15px;
    }
    
    .btn-section {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 25px;
    }
}

.simpleCard{
    justify-content: space-evenly; 

    button, button:focus, button:active {
        color:white;
        background-color: #038cfc;
        border: none;
        outline: 0;
        padding: 10px 15px;
        border-radius: 8px;
        cursor: pointer;
    }
}