<section class="listCard">
    <header>
        <input type="text" name="nameProject" placeholder="name project" [(ngModel)]="project.name">
        <section class="btn">
            <img src="../../../assets/save.svg" alt="save" (click)=saveProjectName(project._id)>
            <img src="../../../assets/delete.svg" alt="delete" (click)=deleteProject(project._id)>
        </section>
    </header>
    <section class='content'>
        <section class="list">
            <div *ngFor="let task of project.tasks; let i = index" class="list-element">
                <input type="checkbox" [disabled]="task.isDone" name="i" id="i" [(ngModel)]="task.isDone" 
                (change)="checkboxChange(task.isDone? {projectID: project._id, taskID: task._id}: false)">
                <input type="text" [disabled]="task.isDone"  [(ngModel)]="task.description" for="i">
                <img src="../../../assets/save.svg" alt="save" *ngIf="!task.isDone" (click)=updateTaskName(project._id,task)>
                <img src="../../../assets/delete.svg" alt="delete" *ngIf="!task.isDone" (click)=deleteTask(project._id,task)>
            </div>
        </section>
        <section class="footer">
            <input type="text" name="newTask" id="newTask" [(ngModel)]="newTask" placeholder="Task">
            <button class="add-btn" (click)=addTask(project._id)>Add</button>
        </section>
    </section>
</section>