@import "./../../../styles.scss";

.listCard{
    width: 270px;
    height: calc(100% - 30px);
    border: 1px solid $border-color;
    min-height: 200px;
    border-radius: 8px;
    border-top: 0;
    position: relative;

    header {
        height: 25px;
        color: black;
        background-color: lightgrey;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 10px;
        border-radius: 8px 8px 0px 0px;
        font-weight: 600;

        input{
            background-color: transparent;
            border: none;
        }
    }

    .content::-webkit-scrollbar{
        display: none;
    }

    .content{
        height: 100%;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        -ms-overflow-style: none;
        scrollbar-width: none;

        .list {
            color: black;   
            margin-bottom: 75px;

            .list-element{
                display: flex;
                align-items: center;
            }
        }
    
        .footer {
            height: 40px;
            padding: 0px 10px;
            position: absolute;
            bottom: 0;
            border-top: 1px solid grey;
            width: calc(100% - 20px);
            border-radius: 0px 0px 8px 8px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            .add-btn {
                background-color: green;
                color: white;
                border: none;
                border-radius: 8px;
                width: 55px;
                height: 30px;
            }
        }
    }
}