<section class="landing-page">
    <app-simple-card [cardTitle]=cardTitle [type] = cardTypes.login (loginEvent)=onLogin($event) (registrationEvent)=onRegistration($event)></app-simple-card>
</section>